/* Animating Filters */

.parent {
    width: 400px;
    height: 400px;
    background-color: hsla(200, 100%, 20%);
    margin-top: 2rem;
    padding: 0;
    cursor: pointer;
}

.child {
    width: 50%;
    height: 50%;
    background-color: rgb(177, 13, 13);
    transition: transform 1s cubic-bezier(0.6, 0, 0.93, 0.11);
    animation: hover 1s ease-in forwards infinite alternate;
}

.parent:hover .child {
    animation-play-state: paused;
}

@keyframes hover {
    100% {
        transform: translateX(100%);
        background-color: hsla(200, 100%, 20%);
    }
    75% {
        transform: translateY(100%) translateX(100%);
    }
    50% {
        transform: translateX(100%) translateY(100%);
        background-color: rgb(177, 13, 13);
    }
    25% {
        transform: translateY(100%);
    }
    0% {
        transform: translateX(0%) translateY(0%);
        background-color: #fff;
    }
}